{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>

{% if app.user %}
    <p>
        <button class="addButton">
            <a href=" {{ path('add_category') }} ">Ajouter un catégorie</a>
        </button>
    </p>      
{% endif %}

<table>
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Nombre de sujets</th>
            <th>Options (Auteur //)</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{{ path('show_topic', {'id': category.id}) }}">{{category}}</a> 
                </td>
                <td>
                    {{category.topics | length}}
                </td>
                <td>
                    <a href="{{ path('edit_category', {'id': category.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> 
                    <a href="{{ path('delete_category', {'id': category.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}