{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1><a href="{{ path('app_category') }}">{{ category }}</a></h1>

    <p>
        <button class="addButton">
            <a href=" {{ path('add_topic') }} ">Ajouter un sujet</a>
        </button>
    </p>

    <table>
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Créé le</th>
                <th>Auteur</th>
                <th>lock/delock</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in category.topics %}
                <tr>
                    <td>
                        <a href="{{ path('show_topic', {'id': topic.id}) }}">{{topic}}</a>
                    </td>
                    <td>{{topic.dateTopic | date("d-M-Y H:i:s")}}</td>
                    <td>{{ topic.user }}</td>
                    <td>//</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}