{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Liste des topics ({{topics.getTotalItemCount}})</h1>

    <p>
        <button class="addButton">
            {# <a href=" {{ path('add_topic') }} ">Ajouter un catégorie</a> #}
        </button>
    </p>

    <table>
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Créé le</th>
                <th>Auteur</th>
                <th>lock/delock</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
                <tr>
                    <td>
                        <a href="{{ path('show_topic', {'id': topic.id}) }}">{{topic}}</a>
                    </td>
                    <td>{{topic.dateTopic | date("d-M-Y H:i:s")}}</td>
                    <td>{{ topic.user }}</td>
                    <td>//</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(topics) }}
{% endblock %}