{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1><a href="{{ path('app_home') }}">{{ topic.category }}</a></h1>
    
{% if app.user %}
    <p>
        <button class="addButton">
            <a href=" {{ path('add_post', {'idTopic': topic.id}) }} ">Ajouter un message</a>
        </button>
    </p>  
{% endif %}

<h2>{{ topic }}</h2>

    <table>
        <thead>
            <tr>
                <th>Message</th>
                <th>Ecrit le</th>
                <th>Auteur</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for post in topic.posts %}
                <tr>
                    <td>{{post}}</td>
                    <td>{{ post.datePost | date("d-M-Y H:i:s") }}</td>
                    <td>{{ post.user }}</td>
                    <td>
                        <a href=" {{ path('edit_post', {'idPost': post.id, 'idTopic': topic.id}) }} "><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('delete_post', {'idPost': post.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(posts) }}

{% endblock %}
